body {
  margin: 0;
}


/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
 ul li{
  list-style-type:none;
  display:inline;
  margin:0;
  padding:0;
  float: right;
}
h1{
  font-family:PT Sans Narrow Bold;
  font-size:1.87em;
  color:#323232
}
h2{
  font-family:PT Sans Narrow Bold;
  font-size: :1.5em;
  color:#00897f
}
h3{
  font-family: PT serif regular;
  font-size: 1em;
  color: #323232;
  line-height: 2em;
}
p{
  font-family: PT Serif regular;
  font-size: :.875em;
  line-height: 1.75em;
  color: #323232;
}
 div map{
  font-family: PT serif bold;
  font-size: 1em;
  color: #f26522;
}
nav h1{
  font-family: PT Sans Narow Bold;
  font-size: 1.5em;
  color:#323232;
}
nav p{
  font-family: PT Sans Regular;
  font-size: .9em;
  color: #323232
}
footer{
  font-family: PT Sans Narrow bold;
  font-size: 1.25em;
  color: #323232;
}
div img{
  border-radius: 50%;
}
div #contact{
  text-align: center;
}
div #img{
  text-align: center;
}
.main{
  margin: 0 auto;
  width: 850px;
  }
.main h1{
  text-align: center;
}
.main h3{
  text-align: left;
}
.kat h2{
  float: left;
  border-style: hidden;
}
.mavis h2{
  float: right;
    border-style: hidden;

}
